In [3]:
import pandas as pd
import numpy as np

In [6]:
products_data = {'product_id' : [0,1,2,3,4],
                 'low_fats' : ['Y','Y','N','Y','N'],
                 'recyclable' : ['N','Y','Y','Y','N']}
products = pd.DataFrame(products_data)

In [19]:
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [18]:
print("""Write a solution to find the ids of products that 
are both low fat and recyclable. Return the result table in any order.""")

products[(products['low_fats']=='Y') & (products['recyclable']=='Y')][['product_id']]

Write a solution to find the ids of products that
are both low fat and recyclable. Return the result table in any order.

   product_id
1           1
3           3