In [1]:
import numpy as np
import pandas as pd

In [6]:
Employees_Data = {
    'id': [1,7,11,90,3],
    'name': ['Alice','Bob','Meir','Winston','Jonathan']
}

EmployeeUNI_Data = {
    'id': [3,11,90],
    'unique_id': [1,2,3]
}

In [7]:
Employees = pd.DataFrame(Employees_Data)
EmployeeUNI = pd.DataFrame(EmployeeUNI_Data)

In [10]:
Result = Employees.merge(EmployeeUNI, on='id', how='left')

In [13]:
print("""Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.""")

Result[['name','unique_id']]

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.

       name  unique_id
0     Alice        NaN
1       Bob        NaN
2      Meir        2.0
3   Winston        3.0
4  Jonathan        1.0