In [1]:
import numpy as np
import pandas as pd

In [2]:
Tweets_data ={
    'tweet_id' : [1,2],
    'content' : ['Let us Code','More than fifteen chars are here!']
}

In [3]:
Tweets = pd.DataFrame(Tweets_data)

In [4]:
Tweets

   tweet_id                            content
0         1                        Let us Code
1         2  More than fifteen chars are here!

In [10]:
print("""Write a solution to find the IDs of the invalid tweets. 
The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.""")

Tweets[(Tweets['content'].str.len()>15)][['tweet_id']]

Write a solution to find the IDs of the invalid tweets.
The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

   tweet_id
1         2