In [1]:
import numpy as np
import pandas as pd

In [10]:
Customer_data = {
    'id': [1,2,3,4,5,6],
    'name' : ['Will','Jane','Alex','Bill','Zack','Mark'],
    'refree_id' : [None,None,2,None,1,2]
}

In [11]:
Customer = pd.DataFrame(Customer_data)

In [12]:
Customer

   id  name  refree_id
0   1  Will        NaN
1   2  Jane        NaN
2   3  Alex        2.0
3   4  Bill        NaN
4   5  Zack        1.0
5   6  Mark        2.0

In [16]:
print("""Find the names of the customer that are not referred by the customer with id = 2.
Return the result table in any order.""")

Customer[(Customer['refree_id'].isnull()) | (Customer['refree_id']!=2)][['name']]

Find the names of the customer that are not referred by the customer with id = 2.
Return the result table in any order.

   name
0  Will
1  Jane
3  Bill
4  Zack