In [1]:
import numpy as np
import pandas as pd

In [2]:
World_Data = {'name': ['Afghanistan','Albania','Algeria','Andorra','Angola'],
'continent' : ['Asia','Europe','Africa','Europe','Africa'],
'area' : [652230,28748,2381741,468,1246700],
'population' : [25500100,2831741,37100000,78115,20609294],
'gdp' : [20343000000,12960000000,188681000000,3712000000,100990000000]
}

In [3]:
World = pd.DataFrame(World_Data)

In [4]:
World

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [7]:
print("""A country is big if:
1. it has an area of at least three million (i.e., 3000000 km2), or
2. it has a population of at least twenty-five million (i.e., 25000000).

Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.""")

World[(World['area']>=3000000) | (World['population'] >= 25000000)][['name','population','area']]

A country is big if:
1. it has an area of at least three million (i.e., 3000000 km2), or
2. it has a population of at least twenty-five million (i.e., 25000000).

Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741